/*--Beach Babies, LLC 2017--*/

/*--Color Scheme----
Dark Blue - #10467E - rgb(16,70,126);
Light Blue - #428BCA - rgb(66,139,202);
Red - #D1202E - rgb(209,32,46);
Black - #333 - rgb();
Dark Gray - #555 - rgb();
Light Gray - #CCC - rgb();
White - #FFF - rgb();
-------------------------------------*/
/*-- Media Queries --*/

/*-- Body --*/
body {
  background-image: url("https://source.unsplash.com/PqpKqJLoAxU");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
/*-- Container --*/
.container {
  background-color: #FFF;
  border-radius: 5px;
  padding: 10px;
  margin: 5%;
}
/*-- Header --*/
header {
  text-align: center;
  margin: auto;
}
/*-- Navigation --*/
.menu-toggle {
  width: 40px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: 25px;
  cursor: pointer;
  z-index: 3;
}
.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-toggle.on .two {
  opacity: 0;
}
.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}
.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: #10467E;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 4em auto;
  text-align: center;
  font-family: 'Josefin Sans';
}
nav ul.hidden {
  display: none;
}
nav ul a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  color: #10467E;
  display: block;
  width: 100%;
  font-size: 3em;
  line-height: 1.5;
  font-family: 'Josefin Sans';
}
nav ul a:hover {
  background-color: #428BCA;
}
.menu-section.on {
  z-index: 10;
  width: 50%;
  height: 500px;
  display: block;
  background-color: #FFF;
  position: fixed;
  border-radius: 5px;
  right: 0;
  top: 0;
}
/*-- Logo --*/
.logo {
  margin: 25px auto;
}
.logo img {
  height: 100%;
  width: 145px;
  vertical-align: middle;
}
.link-home {
  font-family: 'Great Vibes';
  font-size: 7rem;
  color: #10477E;
  text-decoration: none;
}
.link-home a {
  margin: auto;
}
.link-home:hover {
  text-decoration: none;
  color: #428BCA;
}
/*-- Welcome --*/
.page-header {
  font-family: 'Great Vibes';
  margin: 50px;
}
/*-- Decorative Lines --*/
.decorative {
    text-align: center;
}
.decoration-top {
  width: 95%;
height: 4px;
margin: auto;
background: #D1202E;
}
.decoration-top2 {
  width: 90%;
height: 4px;
margin: 2px auto;
background: #D1202E;
}
.decoration-bottom {
  width: 90%;
height: 4px;
margin: auto;
background: #D1202E;
}
.decoration-bottom2 {
  width: 95%;
height: 4px;
margin: 2px auto;
background: #D1202E;
}
span {
  cursor: default;
}
/*-- Page Content --*/
.content {
  margin: 25px;
  font-size: 18px;
  color: #10467E;
  font-family: 'Josefin Sans';
  font-weight: 300;
}
.row {
  width: 95%;
  margin: auto;
}
/*-- Logo Thumbnail --*/
.thumbnail {
    width: 90%;
    height: 100%;
    margin: 5% auto;
  }
.thumbnail img {
    vertical-align: middle;
}
/*-- Footer --*/
footer {
  font-family: 'Josefin Sans';
  font-weight: 300;
}
footer a {
  margin: 10px 50px;
  color: #10467E;
  font-size: 16px;
}
footer a:hover {
  text-decoration: none;
  color: #428BCA;
}
.footer {
  text-align: center;
  margin: 20px auto;
}
.copyright {
  font-size: 10px;
  color: #CCC;
  text-align: right;
  margin-bottom: 5px;
}
